.tabletop {
  width: 50px;
}
p {
  font-family: "Scada", sans-serif;
}
h1 {
  text-align: center;
  font-family: "Scada", sans-serif;
}
body {
  background-color: #fbd1a2;
}
form {
  text-align: center;
}
input {
  padding: 10px;
  margin: 10px 0;
}

.secret_form {
  border: 0;
  text-align: none;
}
