<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create TableTime Account</title>
    <style>

        form{
            text-align: center;
            border: 2px solid black;
            border-radius: 10px 20px;
            background-color: 598392


        }
        input {
            padding:10px;
            margin:10px 0;
        }

        body{

            background-color: #FBD1A2;
        }

    </style>
</head>
<body>
    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
    {% endfor %}
    <form action="/create_acct_form" method="POST">
        <div class="container">
            <div>
                <label for="username">Create Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div>
                <label for="password">Create password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div>
                <label for="confirm_password">Confirm password</label>
                <input type="password" name="confirm_password" id="confirm_password" required>
            </div>
            <div>
                <label for="restaurant_name">Restaurant Name</label>
                <input type="text" name="restaurant_name" id="restaurant_name" required>
            </div>
            <br>
            <br>
            <div>
                <label for="open_time">Open Time</label>
                <input type="time" name="open_time" id="open_time" required>
            </div>
            <div>
                <label for="close_time">Close Time</label>
                <input type="time" name="close_time" id="close_time" required>
            </div>

            <button type="submit">Create Account</button>
        </div>
    </form>
</body>
</html>
