<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create TableTime Account</title>
</head>
<body>
    <form action="/layout">
        <div class="container" method="POST">
            <div>
                <label for="username">Create Username</label>
                <input type="text" name="username" id="username">
            </div>
            <div>
                <label for="password">Create password</label>
                <input type="text" name="password" id="password">
            </div>
            <div>
                <label for="confirm_password">Confirm password</label>
                <input type="text" name="confirm_password" id="confirm_password">
            </div>
            <div>
                <label for="restaurant_name">Restaurant Name</label>
                <input type="text" name="restaurant_name" id="restaurant_name">
            </div>
            <br>
            <br>
            <div>
                <label for="start_time">Opening time</label>
                <input type="time" name="start_time" id="start_time">
            </div>
            <div>
                <label for="end_time">Closing Time</label>
                <input type="time" name="end_time" id="end_time">
            </div>
            <button>Create Account</button>
        </div>
    </form>
</body>
</html>
