<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Set Up</title>
</head>
<h1> Restaurant Set Up</h1>
<body>

    <form action="/layout_submit/" method= "POST">

        <div
            <label for="table_num">Enter Table Number</label>
            <input type="text" id="table_num" name="table_num" required>
        </div>
        <div>
            <label for="is_booth">Booth</label>
            <input type="checkbox" name="is_booth"  id="is_booth" value= "True" >
        </div>
        <div>
            <label for="num_seats">How many seats</label>
            <input type="number" name="num_seats" id="num_seats" required>
        </div>
        <button>Create New Table</button>
    </form>
<a href="/home">Finish Set Up</a>
</body>
</html>
