
{% extends 'base.html' %}
{% block title %}Layout{% endblock %}

{% block body %}
<body>
<h1>Create Restaurant Layout</h1>
<div class="container" >
  <div class= information>
    <form action="/layout_form/" method= "POST">
      <div>
            <label for="table_num">Enter Table Number</label>
            <input type="text"  id="table_num" name="table_num" required placeholder="10">
            <br>

        </div>
        <div>
            <label for="is_booth">Booth</label>
            <input type="checkbox" name="is_booth"  id="is_booth" value= "True" >
            <br>
        </div>

        <div>
            <label for="num_seats">How many seats</label>
            <input type="number" name="num_seats" id="num_seats" required>
            <br>
        </div>
        <br>
        <button class= "small-fancy">Create New Table</button>
    </form>
</div>

<br>
    <br>
  </div>
</div>
<form class= "button-house" action="/TableTime">
<button type="submit" class= "fancy-button"> Finished Creating </button>
</form>
</body>
</html>
{% endblock %}
