<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <form action="/home" method="GET >
        <div>
            <label for="username">Enter Username</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div>
            <label for="password">Enter password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <button type="submit">Log in</button>
    </form>
    <div>
        <a href="/create_acct">Create TableTimer account</a>
    </div>

</body>
</html>
