{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}

<h1>Make a Reservation</h1>
<div class= "center">
     <form class= "reservation-form" action="/make_res_form" method="POST">
        <div class= "cont">
        <div>
            <label class="reslabel" for="phone_num">Guest Phone Number</label>
            <br>
            <input type="tel"  id="phone_num" name="phone_num" required>
        </div>
        <div >
            <label class="reslabel" for="guest_name">Reservation Name</label>
            <br>
            <input type="text"  name="guest_name" id="guest_name">
        </div>
        <div>
            <label class="reslabel" for="party_num">Number of Guests in Party</label>
            <br>
            <input type="number" name="party_num" id="party_num" required>
        </div>
        <div >
            <label class="reslabel" for="res_date">Reservation Date</label>
            <br>
            <input type="date"  name="res_date" id="res_date" required>
        </div>
        <div >
            <label class="reslabel" for="res_time">Reservation Time</label>
            <br>
            <input type="time" name="res_time" id="res_time" >
            <br>
            <small id="passwordHelpBlock" class="form-text text-muted">
                The restaurant is open from {{restaurant.open_time.strftime('%H:%M')}} until {{restaurant.close_time.strftime('%H:%M')}}
                </small>
        </div>

        <div >
            <label class="reslabel" for="is_celebrating">Celebrating</label>
            <br>
            <input type="checkbox" name="is_celebrating" id="is_celebrating" value = 'True'>
        <div>
        <div  >
            <label class="reslabel" for="res_notes">Reservation Notes</label>
            <br>
            <input type="textarea" id="res_notes">
        </div>
        <div >
            <label class="reslabel" for="booth_pref">Booth</label>
            <br>
            <input type="checkbox"  name="booth_pref" id="booth_pref" value = 'True'>
        </div>
        <button type="submit">Make Reservation</button>
      </div>
     </form>
     </div>
    </div>
</div>
{% endblock %}
