{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<div class = "container">
    <form action="/make_res_form" method="POST">
        <div>
            <label for="phone_num">Enter Phone Number</label>
            <input type="tel" id="phone_num" name="phone_num" required>
        </div>
        <div>
            <label for="guest_name">ReservationName</label>
            <input type="text" name="guest_name" id="guest_name">
        </div>
        <div>
            <label for="party_num">Number of Guests in Party</label>
            <input type="number" name="party_num" id="party_num">
        </div>
        <div>
            <label for="res_date">Reservation Date</label>
            <input type="date" name="res_date" id="res_date">
        </div>
        <div>
            <label for="res_time">Reservation Time</label>
            <input type="time" name="res_time" id="res_time">
        </div>
        <div>
            <label for="res_notes">Reservation Notes</label>
            <input type="text" name="res_notes" id="res_notes">
        </div>
        <div>
            <label for="is_celebrating">Celebrating</label>
            <input type="checkbox" name="is_celebrating" id="is_celebrating" value = 'True'>
        </div>
        <div>
            <label for="booth_pref">Booth</label>
            <input type="checkbox" name="booth_pref" id="booth_pref" value = 'True'>
        </div>

        <button type="submit">Make Reservation</button>
    </form>
</div>
{% endblock %}
