{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class = "container">

    <h1>Dinning Room</h1>
             <div class="row">
            {% for table in tables.tables %}
              <div class="col-lg-3">
                  <div class = "table" >

                        {%if table.num_seats <= 4 and table.num_seats > 2 and table.is_booth == False%}
                              <img class="tabletop" width = "200px" src="/static/img/4-top.png" alt="[]">
                        {%elif table.num_seats <= 2 and table.is_booth == False%}
                              <img class= "tabletop" width = "200px" src="/static/img/2-top.png" alt= "x[]x">
                        {%elif table.num_seats <= 2 and table.is_booth == True%}
                              <img class= "tabletop" width = "200px" src="/static/img/small-booth.png" alt= "x[]x">
                        {%elif table.num_seats >= 6 and table.is_booth == False %}
                              <img class="tabletop" width = "200px" src="/static/img/6-top.png" alt="[]">
                        {%elif table.num_seats >= 4 and table.is_booth == True%}
                              <img class="tabletop" width = "200px" src="/static/img/big-booth.png" alt="[]">

                        {%endif%}
                        <p class= table_num> {{ table.table_num }}  </p>
                        {% for r in current_res %}
                              {%if r.table_id == table.table_id%}
                              <form class=secret_form action = '/finished' method = 'POST'>
                                    <input type="hidden" id="finished_g" name="finished_g" value={{r.guest_id}}>
                                    <input type="hidden" id="finished_r" name="finished_r" value= {{r.res_id}} >
                                    <button class= "time" type="submit">Finished</button>
                              </form>
                              {%endif%}
                        {%endfor%}

                        {% for r in unseated_upcoming %}

                              {%if r.table_id == table.table_id%}
                              <p>Next Res at {{r.res_time.strftime('%H:%M')}}</p>
                              <form class=secret_form action = '/seated' method = 'POST'>
                                    <input type="hidden" id="seated" name="seated" value={{r.guest_id}}>
                                    <input type="hidden" id="seated_r" name="seated_r" value={{r.res_id}}>
                                    <button class= "time" type="submit">Seated</button>
                              </form>
                              {%endif%}
                        {%endfor%}


                  </div>


             </div>
            {%endfor%}

      </div>
</div>


{% endblock %}
