{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class = "container" >
    <h1>Dinning Room</h1>
            {% for table in tables.tables %}

                  {%if table.num_seats == 4%}
                        <div class = "table" >
                        <img class="tabletop" src="/static/4_top.png" alt="[]">
                        <p> table number:{{ table.table_num }} {{table.table_id}} </p>
                        {% for r in unseated_upcoming %}

                              {%if r.table_id == table.table_id%}
                              <p> the reservation id is {{r.res_id}}</p>
                              <p>Next Res at {{r.res_time.strftime('%H:%M')}}</p>
                              <form action = '/seated' method = 'POST'>
                                    <input type="hidden" id="seated" name="seated" value={{r.guest_id}}>
                                    <input type="hidden" id="seated_res_id" name="seated_res_id" value={{r.res_id}}>
                                    <button class= "s_button" type="submit">Seated</button>
                              </form>
                              {%endif%}

                        {%endfor%}

                        </div>
                  {%elif table.num_seats == 2%}
                  <div class = "table" >
                        <img class= "tabletop" src="/static/2_top.png" alt= "x[]x">
                        <p> table number:{{ table.table_num }} {{table.table_id}}</p>
                        {% for r in unseated_upcoming %}

                              {%if r.table_id == table.table_id%}
                              <p>Next Res at {{r.res_time.strftime('%H:%M')}}</p>
                              <form action = '/seated' method = 'POST'>
                                    <input type="hidden" id="seated" name="seated" value={{r.guest_id}}>
                                    <input type="hidden" id="seated_res_id" name="seated_res_id" value={{r.res_id}}>

                                    <button class= "s_button" type="submit">Seated</button>
                              </form>
                              {%endif%}

                        {%endfor%}

                        </div>

                  {%else%}
                        <div class = "table" >
                        <img class="tabletop" src="/static/4_top.png" alt="[]">
                        <p> table number:{{ table.table_num }} </p>
                        {% for r in unseated_upcoming %}

                              {%if r.table_id == table.table_id%}
                                    <p>Next Res at {{r.res_time.strftime('%H:%M')}}</p>
                                    <p> the reservation id is {{r.res_id}}</p>
                                    <form action = '/seated' method = 'POST'>
                                          <input type="hidden" id="seated_g" name="seated_g" value={{r.guest_id}}>
                                          <input type="hidden" id="seated_res_id" name="seated_res_id" value={{r.res_id}}>

                                          <button class= "s_button" type="submit">Seated</button>
                                    </form>
                              {%endif%}

                        {%endfor%}

                        </div>

                  {%endif%}
            {% endfor %}
</div>
<a href="/make_res"> Make New Reservation </a>
<br>
<a href="/guest_info"> View Guest Information</a>


{% endblock %}
